<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/yummy</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">byltc</property>
    <mapping class="com.nju.yummy.model.Address"/>
    <mapping class="com.nju.yummy.model.MemberAddress"/>
    <mapping class="com.nju.yummy.model.Members"/>
    <mapping class="com.nju.yummy.model.OrderPackage"/>
    <mapping class="com.nju.yummy.model.OrderSingle"/>
    <mapping class="com.nju.yummy.model.Orders"/>
    <mapping class="com.nju.yummy.model.PackageSingle"/>
    <mapping class="com.nju.yummy.model.Packages"/>
    <mapping class="com.nju.yummy.model.Reduction"/>
    <mapping class="com.nju.yummy.model.Restaurants"/>
    <mapping class="com.nju.yummy.model.Singles"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>