body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arail, Helvetica, sans-serif;
    font-size: 12px;
    height: 600px;
    background-size:cover;
    background: #dce0ff;
}

p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}